* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 75px; /* Height of fixed header */
    padding-bottom: 130px; /* Height of fixed footer */
 }

.page-heading {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #000;
}

 .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem; /* Default Tailwind padding */
    padding-right: 1rem;
}

.accordion-button {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    background-color: #eee;
    transition: 0.4s ease;
  }

.accordion {
    padding-bottom: 10px;

}
  
  .active, .accordion-button:hover {
    background-color: #ccc; 
    transition: 0.4s ease;
  }
  
  .panel {
    padding: 0 18px;
    padding-top: 15px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

/* Responsive widths based on Tailwind's breakpoints */
@media (min-width: 640px) { /* sm */
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) { /* md */
    .container {
        max-width: 768px;
}
}
@media (min-width: 1024px) { /* lg */
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) { /* xl */
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) { /* 2xl */
    .container {
        max-width: 1536px;
    }
}
